footer.footer.bg-dark.py-3(style='color:#fff')
  .container
    .row
      .col-12.col-sm-6.text-center
        p Copyright &copy; 2017 ADRIANO
      .col-12.col-sm-6.social
        p.pull-right.text-center
          a(href='#')
            i.fab.fa-facebook-f
          a(href='#')
            i.fab.fa-google-plus-g
          a(href='#')
            i.fab.fa-twitter
          a(href='#')
            i.fab.fa-tumblr
          a(href='#')
            i.fab.fa-instagram
          a(href='#')
            i.fab.fa-youtube
