nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  .container-fluid
    a.navbar-brand(href='#') Navbar
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse.d-lg-flex.justify-content-end
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='#') Home
        li.nav-item
          a.nav-link(href='#aboutMe') About
        li.nav-item
          a.nav-link(href='#services') Service
        li.nav-item
          a.nav-link(href='#') Porfolio
        li.nav-item
          a.nav-link(href='#blog') Blog
        li.nav-item
          a.nav-link(href='#') Contact
