extends ../layout/main.pug

block content 
    .content 

        h3.text-center What You Need To Know About CSS Variables
        img(src='https://tutorialzine.com/media/2015/12/creating-your-first-desktop-app-with-electron.png' alt='')
        p.noidung
        | When web projects grow bigger, their CSS usually becomes astronomically large and often times messy. To help us deal with this, new CSS variables are soon to hit mainstream browsers, giving devs the ability to reuse and easily edit repeatedly occurring CSS properties.
